@media only screen and (max-width: 760px) {
  /*NAVIGATION BAR*/
  .personal-avt {
    display: none;
  }
  .navbar {
    height: 25vh;
  }
  #navbar .container {
    display: flex !important;
    flex-direction: column;
    padding: 0 !important;
    margin: 0 !important;
  }
  #nav-info {
    width: 100% !important;
    border: none !important;
    text-align: start !important;
    margin-bottom: 1vh;
  }
  #nav-info:nth-child(3) {
    display: none;
  }
  #navbar-brand {
    font-size: 16px;
  }

  /*INFORMATION*/
  #information {
    margin-top: 5vh;
  }
  #information .container {
    flex-direction: column;
    height: 90vh !important;
  }
  #target,
  #personal-info {
    width: 100% !important;
    padding-right: 5vw;
  }
  #target {
    height: 40vh !important;
  }
  #personal-info {
    height: 50vh !important;
  }

  /*JOB INFORMATION*/
  #job-info .container {
    height: 410vh !important;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(19, 1fr);
  }
  #job-info h3 {
    font-size: 2.5vh;
  }
  .job-icon {
    font-size: 10vh;
    padding-bottom: 7vh;
  }

  /*Time*/
  .time-box {
    width: 60px;
    height: 24px;
  }

  /*bullet point*/
  .bullet-point {
    width: 15px !important;
    height: 15px !important;
  }
  #ex-first-point {
    width: 60px !important;
  }
  #ex-last-point {
    width: 30px;
  }
  #edu-first-point {
    width: 20px !important;
  }
  #edu-last-point {
    width: 22px;
  }
  #ac-first-point {
    width: 23px;
  }

  /*Experience*/
  #ex-box {
    grid-row: 1/6;
  }
  #ex-box .job-icon {
    padding-right: 3vh !important;
  }

  /*Skill*/
  #skill-box {
    margin-top: 3.5vh !important;
    height: 60vh;
    grid-row: 6/9;
  }
  #skill-box .job-icon {
    padding-bottom: 2vh !important;
    padding-left: 2vh;
  }

  /*Language*/
  #lang-box {
    margin-top: 3.5vh !important;
    grid-row: 9/11;
  }
  #lang-box .job-icon {
    padding-top: 5vh !important;
    padding-left: 4vh;
  }

  /*Active*/
  #ac-box {
    height: 60vh !important;
    grid-row: 11/14;
  }
  #ac-box .job-icon {
    padding-top: 5vh !important;
  }

  /*Education*/
  #edu-box {
    height: 55vh;
    grid-row: 14/17;
  }
  #edu-box .job-icon {
    padding-top: 7vh !important;
    padding-left: 1vh;
  }

  /*Hobby*/
  #hobby-box {
    margin-top: 3.5vh !important;
    grid-row: 17/-1;
  }
  #hobby-box .job-icon {
    padding-top: 7vh !important;
  }
  .hobby-info {
    margin-top: 5vh;
    height: 20vh;
    display: grid !important;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    row-gap: 10vh;
    justify-content: center;
  }
  .cooking {
    grid-area: 2/1/-1/2;
  }
  .hobby-icon {
    height: 7vw;
    width: 7vw;
  }
  .ic-megaphone,
  .ic-strategy,
  .ic-hotairballoon,
  .ic-basket {
    padding-top: 1.5vh;
    font-size: 3.5vw;
  }
  .music-icon {
    padding-left: 4.5vw !important;
  }
  .game-icon {
    padding-left: 5vw !important;
  }
  .travel-icon {
    padding-left: 4.5vw !important;
  }
  .cooking-icon {
    padding-left: 4.5vw !important;
  }

  /*bullet point*/
  .bullet-point {
    width: 3vw;
    height: 3vw;
  }
  #ex-first-point {
    width: 8vw !important;
    height: 3vw !important;
  }
  #ex-last-point {
    width: 4vw !important;
  }
  #edu-first-point {
    width: 4vw;
  }

  /*point*/
  .point {
    height: 0.5vh !important;
    width: 9vw;
  }

  /*CERTIFICATE*/
  #certificate .container {
    width: 80% !important;
    height: 150vh;
    margin: 0 9vh !important;
  }
  .cer-main {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .cer-main .d-grid {
    display: flex !important;
    flex-direction: column;
    gap: 5vh !important;
    height: 100vh;
  }
  .first-row {
    height: 85vh !important;
  }
  .cer-info {
    flex-direction: column;
  }
  .cer-img {
    height: 25vh;
    width: 55vw;
  }
  .cer-text {
    width: 55vw;
  }
  #cer-1 {
    border: none !important;
    border-bottom: 1px solid #ffd8a8 !important;
    width: 100% !important;
    height: 40vh;
  }
  #cer-2 {
    height: 40vh !important;
    padding-top: 0 !important;
  }

  /*PROJECT*/
  .pro-main-container {
    grid-template-columns: 1fr;
  }
  .pro-info h3 {
    padding-top: 25px !important;
  }
  .pro-info-time {
    font-size: 14px;
    width: 100%;
    height: 14vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding-top: 1vh;
    padding-left: 3vh;
  }
  .pro-icon-lamp {
    margin-left: 0 !important;
    margin-top: -3vh !important;
  }

  /*FOOTER*/
  .footer-list {
    display: none;
  }
}
